<!DOCTYPE html>
<html>
  <head>
    <title>About | Supun Dissanayake- Advance Features</title>
  </head>
  <body>
    <h1>About</h1>
    <h2>
      Welcome to the about page
    </h2>
    <p>
      This application contain range of ruby on rails features. 
    </p>
    <p>
      Data Validation: validations are added to toy app features in Users and Microposts pages. Further validations are added to login and signup pages
    </p>
    <p>
      Styles and Layouts: Bootstrap is integrated to the application. Further custom css are added manually
    </p>
    <p>
      Authentication: Authentication is added to Login and it displays hiiden pages when the user logs in
    </p>
    <p>
      Internationalization : Internationalization is added to the home page. Items in the jombotoron can be translated into French and German. 
    </p>
    <p>
      Agile Test Driven Design  : Variety of tests were created during the development process. They can be accessed through the test folder 
    </p>
    <p>
      Extra Features  : User search item/ Internationalization
    </p>
  </body>
</html>