<!DOCTYPE html>
<html>
  <head>
    <title>Help | Help Page</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Sign up and login to explore the application. About section describes the functionality of the application</p>
    
  </body>
</html>