<div class="center jumbotron">
  <h1><%= t ".title" %></h1>

  <h2>
    <%= t ".description" %>
  </h2>
    <p><%= t ".language" %></p>
      <%= link_to_unless_current "English", locale: "en" %> |
      <%= link_to_unless_current "French", locale: "fr" %> |
      <%= link_to_unless_current "German", locale: "gr" %>
      <br>
  
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

