<h1>Advance Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

   <div class= "field">
     <%= s.label :username %><br/>
     <%= s.text_field :username %>
   </div>
   
   <div class= "field">
     <%= s.label :useremail %><br/>
     <%= s.text_field :useremail %>
   </div>
   
   <div class= "actions"><%= s.submit "search", class: "pure-button pure-button-primary" %></div>
  <% end %>
  
<%= link_to 'Back', users_path %>